.footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
    text-align: center;
    color: #6c757d;

    width: 100%;
    margin-top: auto;
}

.footer-text {
    margin: 0;
    font-size: 0.9rem;
}